#root {
  --Desktop-white: #ffffff;
  --desktop-white-20: rgba(255, 255, 255, 0.2);
  --Desktop-grey-100: #ececec;
  --Desktop-grey-200: #c4c4c4;
  --Desktop-grey-400: #747474;
  --Desktop-black: #202020;
  --Desktop-primary-green: #2e8d43;
  --Desktop-background: #efefef;
}
