.content {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__play {
    margin-top: 120px;
  }

  &__play-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__play-card {
    background: var(--Desktop-white, #ffffff);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto 0;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 320px) {
      gap: 28px;
    }
  }

  &__play-card-img {
    width: 100%;
    aspect-ratio: 62 / 52;
    object-fit: cover;
    object-position: center;
    border-radius: 0 0 50% 50%;
  }

  &__play-card-img_unbordered {
    border-radius: 0;
    object-fit: contain;
    object-position: right;
  }

  &__play-card-text {
    margin-top: 62px;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__play-card-description {
    max-width: 440px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    line-height: 160%;

    @media screen and (max-width: 1280px) {
      font-size: 15px;
      line-height: 150%;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 140%;
    }
  }

  &__play-card-button {
    margin: 0 24px 24px;
  }

  &__play-card:hover {
    grid-template-rows: min-content auto 88px;
    color: var(--Desktop-white, #ffffff);
    background: var(--Desktop-black, #202020);
  }

  &__play-card:hover &__play-card-img {
    margin-top: -64px;
  }

  &__play-card:hover &__play-card-text {
    margin-top: 40px;
  }
}
