.learn {
  padding: 32px;
  box-sizing: border-box;
  margin-top: 120px;
  background-color: var(--Desktop-white, #ffffff);

  @media screen and (max-width: 768px) {
    padding: 0;
    background-color: transparent;
  }

  &__articles {
    display: grid;
    grid-template-columns: 2fr 1px 1fr;
    gap: 16px;

    @media screen and (max-width: 1280px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__articles-block_primary {
    width: 100%;
    display: grid;
    grid-template-rows: 611px 294px;
    gap: 20px;

    @media screen and (max-width: 768px) {
      grid-template-rows: 400px;
      grid-auto-rows: 400px;
      gap: 8px;
    }
  }

  &__articles-block_secondary {
    display: grid;
    grid-template-rows: 302px 1fr 302px;

    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  &__article-primary {
    background: var(--Desktop-primary-green, #2e8d43);
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 768px) {
      padding: 18px;
    }

    @media screen and (max-width: 320px) {
      padding: 12px;
    }
  }

  &__article-primary_first {
    background-image: url('/images/hero-background-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__article-title_primary {
    max-width: 800px;
    color: var(--Desktop-white, #ffffff);
    font-size: 48px;
    line-height: 120%;

    @media screen and (max-width: 1280px) {
      font-size: 40px;
    }

    @media screen and (max-width: 768px) {
      font-size: 25px;
    }

    @media screen and (max-width: 320px) {
      font-size: 20px;
      line-height: 130%;
    }

    @media screen and (max-width: 320px) {
      font-size: 20px;
      line-height: 130%;
    }
  }

  &__article-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--Desktop-grey-200, #c4c4c4);
  }

  &__article-secondary:first-child {
    padding-top: 0;
  }

  &__article-secondary:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &__article-link {
    text-decoration: none;
    color: var(--Desktop-black, #202020);
    font-size: 20px;
    transition: all 0s;
  }

  &__article-secondary-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
